<h1>FonoApi Example Use</h1>
<br>
<div class="row">
  <div class="col-sm-3">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Device</span> {{input value=deviceName type="text" class="form-control" aria-describedby="basic-addon1"}}
    </div>
    <br>
    <div class="btn-group">
      <button type="button" class="btn btn-default" {{action "searchDevice" deviceName}}>Search</button>
    </div>
    <br>
  </div>
</div>
<br><br>
{{yield}}
